[Unit]
  Description=cifs mount script
  Requires=network-online.target
  After=network-online.service

[Mount]
  What=//10.168.15.1/music
  Where=/mnt/music
  Type=cifs
  Options=username=zm,password=zoneminder,uid=plex,gid=plex,rw,file_mode=0777,dir_mode=0777,vers=3.0

[Install]
  WantedBy=multi-user.target
