[Unit]
  Description=cifs mount script
  Requires=network-online.target
  After=network-online.service

[Mount]
  What={{ what }}
  Where={{ where }}
  Type=cifs
  Options={{ options }}

[Install]
  WantedBy=multi-user.target
